<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.domotika">

    <!-- 🔐 PERMISOS PARA USB -->
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 🔐 PERMISOS PARA BLUETOOTH -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- PERMISOS PARA WIFI Y RED -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Para Android 13+, acceso a dispositivos wifi cercanos -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Domotika"
        tools:targetApi="31">

        <!-- ACTIVIDADES -->
        <activity android:name=".UsbActivity" android:exported="true" />
        <activity android:name=".CameraPlayerActivity" />
        <activity android:name=".InfraredControlActivity" />
        <activity android:name=".BluetoothActivity" />
        <activity android:name=".InfraredActivity" />
        <activity android:name=".NfcActivity" />
        <activity android:name=".WifiActivity" />


        <!-- BroadcastReceiver para notificaciones -->
        <receiver
            android:name=".UsbActivity$mediaControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.domotika.ACTION_PAUSE" />
                <action android:name="com.example.domotika.ACTION_PLAY" />
            </intent-filter>
        </receiver>

        <!-- ACTIVIDAD PRINCIPAL -->
        <activity android:name=".MainActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
